/builds
/BattleMod/Lua/1-Init/Init_VersionInfo.lua
*-latest.pk3
*.lnk
*.bak
*.backup*
*.dbs
*.bat
.SRB2C_ARGS
!/.github/workflows/.SRB2C_ARGS
linux_build.sh
run.sh
BattleMod/SRB2C.py
BattleMod/SRB2MC_SIMPLE.py
build.sh